/* All styles for your header Components live here */
.header-container {
    border:1px solid red;
    display:flex;
    margin:2px;
    
}

.header-container img {
    border:1px solid green;
    /* max-width:50px; */
    margin:2px;

}

.header-content {
    border:1px solid blue;
    margin:2px;

}